.dropdown-wrapper {
    position: relative;

    .dropdown {
        position: absolute;
        z-index: 10;
        background: #1c1c1c;
        border: 2px solid #91919138;
        width: 300px;
        right: 0;
        padding: 8px 0;
        margin-top: 16px;
        border-radius: 8px;

        .item {
            display: flex;
            align-items: center;
            color: #fff;
            padding: 10px;
            font-size: 14px;
            cursor: pointer;

            &:hover {
                background: #91919138;
            }
        }
    }
}
