.button {
    padding: 12px 22px;
    border-radius: 12px;
    font-size: 17px;
    font-weight: 500;

    &.dark {
        background: var(--light-dark);
        color: var(--light);

        &:hover {
            background: var(--lighter-dark);
        }
    }

    &.light {
        background: transparent;
        color: var(--light);

        &:hover {
            background: #ffffff10;
        }
    }

    &.blank {
        background: transparent;
        padding: 0;
        color: var(--light);
    }
}
