@keyframes slideInUp {
    from {
        transform: translateY(16px);
        opacity: 0.3;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.donation {
    animation: slideInUp 0.3s ease-in-out;
}
