@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    /*
    background: url('../../public/background.png');
    background-size: 33%;
    */
    background: #000;
    margin: 0;
    padding: 0;
    color: #fff;
}

/* body:has(.donation-event) {
    background: black;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0;
}

p {
    margin: 0;
}

a {
    color: #fff;
    transition: 200ms;
    text-decoration: none;
    cursor: pointer;
}

button {
    transition: 200ms;
    outline: none;
    /* border: none; */
    background: transparent;
    cursor: pointer;
}

input,
textarea {
    transition: 200ms;
    outline: none;
    /* border: none; */
    background: transparent;
}

main {
    min-height: calc(100dvh - 80px);
}

table {
    color: #abb2bf;
}

table th {
    text-align: start;
    padding-right: 40px;
    padding-bottom: 20px;
    font-size: 18px;
}

table tr td {
    padding-right: 40px;
    padding-bottom: 7px;
    font-size: 17px;
    font-weight: 500;
}

::selection {
    background: white;
    color: #000;
}

.vertical-center {
    top: 50%;
    transform: translateY(-50%);
}

.dots {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
